body {
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif; 
}

p {
    color: white;
    text-align: center;
}

h1 {
    color: plum;
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif; 
}

p.dotted {
    border-style: dotted;
}

h1.outset {
    border-style: outset;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(120, 58, 168);
    float: top;
    overflow: hidden;
} 

li {
    float: left;

}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d674e3;
}

a {
    display: block;
    padding: 8px;
    background-color: rgb(120, 58, 168);
} 

.active {
    background-color: #aa0481;
}

a.omac {
    font-family: Arial, Helvetica, sans-serif; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
